/* Box Model Hack */
* {
  box-sizing: border-box;
  /* border: 3px solid red; */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #222;
  background-color: black;
  line-height: 1;
  background: linear-gradient(#8e9eab, #eef2f3);
}

/******************************************
/* LAYOUT
/*******************************************/
.hero-header {
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(142, 158, 171, 0.3) 50%,
      rgba(238, 242, 243, 0.1)
    ),
    url("/images/menu-image-2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 85%;
}

.navigation {
  /* width: 85%; */
  padding: 2rem 0 0 7rem;
  /* background: linear-gradient(to right, #8e9eab 65%, #eef2f3); */
  display: flex;
  gap: 2.4rem;
  justify-content: flex-start;
  align-items: center;
}

.navigation ul {
  display: flex;
  /* justify-content: flex-end; */
  gap: 2.4rem;
}

.hero-page {
  width: 85%;
  margin: 0 auto;
}

.hero-content {
  width: 40%;
}

.about-us {
  width: 85%;
  /* position: relative; */
  margin: 0 auto;
  min-height: 100vh;
  background: url("/images/menu-image-5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.about-us-content {
  border-radius: 8px;
  padding: 2.5rem;
  width: 40%;
  margin-right: 7rem;
}

.order-now {
  width: 100%;
  padding: 5rem 0;
}

.order-now-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES:: HERO
/*******************************************/

.navigation-link:link,
.navigation-link:visited {
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-size: 1.4rem;
  font-weight: bold;
  /* background-color: red; */
}

.nav-icons {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content h1,
.section-main-title {
  font-weight: bold;
  font-family: "Vidaloka", serif;
}

.hero-content h1 {
  font-size: 7.4rem;
}

.hero-search {
  margin-bottom: 16px;
  display: flex;
  /* align-items: center; */
}

.hero-search input {
  /* height: 36px; */
  font-size: 1.4rem;
  width: 40rem;
  border: 1px solid #444;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 2.4rem;
}

.hero-search button {
  /* height: 36px; */
  font-size: 1.2rem;
  border: 1px solid #444;
  border-left: none;
  background-color: rgb(247, 79, 37);
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.hero-content ul {
  display: flex;
  gap: 2.4rem;
}

.hero-content ul ion-icon {
  color: rgb(247, 79, 37);
  height: 2.4rem;
  width: 2.4rem;
  vertical-align: center;
  padding-right: 0.5rem;
}

.hero-content ul li {
  display: flex;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES:: ABOUT US
/******************************************/
.navigation-title {
  color: #ff922b;
  font-size: 1.8rem;
  /* font-weight: bold; */
  margin-bottom: 1rem;
}

.section-main-title {
  margin: 0;
  font-size: 4.8rem;
  color: inherit;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 1.6rem;
}

.about-us-content p {
  font-size: 1.6rem;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 12px;
}

.discover-btn {
  font-size: 1.2rem;

  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.discover-btn button {
  padding: 1.2rem;
  border: 1px solid #444;
  cursor: pointer;
}

.discover-btn button:first-child {
  background-color: #f76707;
  color: #eee;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.discover-btn button:last-child {
  background-color: #ffa94d;
  color: #eee;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.discover-icon {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************************
/* ADDITIONAL STYLES:: ORDER-NOW
/*******************************************/

.order-now-content h1 {
  margin-bottom: 3.6rem;
}

.category-menu {
  display: flex;
  margin-bottom: 24px;
}

.category-menu li {
  padding: 10px 15px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  margin-bottom: 24px;
}

.category-menu li:hover {
  color: #ff922b;
  border-bottom: 1px solid #ff922b;
  transition: linear all 0.3s;
}

.image-menu {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem 3rem;
  margin-bottom: 2.8rem;
}

.food-pic {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30rem;
}

.image-1 {
  background-image: url(../images/menu-image-1.webp);
}

.image-2 {
  background-image: url(../images/menu-image-1.webp);
}

.image-3 {
  background-image: url(../images/menu-image-1.webp);
}

.image-4 {
  background-image: url(../images/menu-image-1.webp);
}

.image-5 {
  background-image: url(../images/menu-image-1.webp);
}

.image-6 {
  background-image: url(../images/menu-image-1.webp);
}

.image-7 {
  background-image: url(../images/menu-image-1.webp);
}

.image-8 {
  background-image: url(../images/menu-image-1.webp);
}

.content-menu {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.menu-price {
  font-family: "Vidaloka";
  color: #eee;
  font-size: 28px;
  margin-bottom: 6px;
}

.rating {
  display: flex;
  gap: -5px;
  margin-bottom: 6px;
}

.stars {
  color: #ff922b;
  width: 20px;
  height: 20px;
}

.food-name {
  font-size: 24px;
  color: #eee;
  margin-bottom: 16px;
}

.content-menu button {
  background-color: #ff922b;
  color: #eee;
  border: 1px solid #444;
  border-radius: 8px;
  padding: 12px;
  font-size: 12px;
  transition: background-image 0.5s ease-out;
}

.food-pic:hover .content-menu {
  visibility: visible;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.food-pic .content-menu {
  transition: background-image 10s ease-in;
}

.bullets {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bullets li {
  width: 5px;
  height: 5px;
  background-color: #ffa94d;
  border-radius: 50%;
}

li.bigger-one,
.bullets li:hover {
  width: 12px;
  height: 12px;
  background-color: #f76707;
}

/******************************************
/* ADDITIONAL STYLES:: OPENING
/*******************************************/

.opening-hours {
  padding-top: 50px;
  width: 100%;
}
.opening-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.opening-content h1 {
  margin-bottom: 32px;
}

.contact {
  text-align: center;
}

.telephone {
  border: 1px solid #ff922b;
  border-radius: 50%;
  padding: 8px;
  color: #ff922b;
  width: 44px;
  height: 44px;
  margin-bottom: 6px;
}

.call-now {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 6px;
}

.opening-contact {
  font-family: "Vidaloka", serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 24px;
}

.schedule {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.schedule-day {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.schedule-time {
  font-family: "Vidaloka", serif;
  font-size: 20px;
  font-weight: bold;
}

.opening-video {
  position: relative;
  width: 70%;
  /* background-color: red; */
  margin-bottom: 50px;
}

.arrow {
  color: #ff922b;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 1px solid #ff922b;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.opening-left {
  left: 0;
  transform: translate(-50%, -50%);
}

.opening-right {
  right: 0;
  transform: translate(50%, -50%);
}

.video {
  margin: 0 auto;
  display: block;
  width: 600px;
  height: 330px;
}

/******************************************
/* ADDITIONAL STYLES:: TESTIMONIAL
/*******************************************/

.testimonial {
  padding: 50px 0;
  width: 100%;
}

.testimonial-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-content h1 {
  margin-bottom: 50px;
}

.testimonial-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 12px;
}

.testimonial-content-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.testimonial-content-occupation {
  font-weight: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 12px;
}

.testimonial-content .rating {
  margin-bottom: 12px;
}

.testimonial-content-caption {
  width: 70%;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 18px;
}
