/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1;
  font-weight: 300;
  color: #333;
}

.container {
  /* max-width: 120rem; */
  padding: 0 3.2rem;
  margin: 0 auto;
}

/*******************************************/
/***********     HEADER    ****************/
/*******************************************/

header {
  background-color: #f5f8fc;
  /* height: 4rem; */
}

.section-nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.nav-logo {
  font-size: 3rem;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.6rem;
}

.header-button {
  background-color: #32425a;
  color: #fff;
  padding: 0.75rem 2rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

/*******************************************/
/***********      HERO      ****************/
/*******************************************/

.section-hero {
  background-color: #f5f8fc;
  padding: 5rem 0;
}

.hero {
  display: flex;
  padding-right: 0;
  gap: 10rem;
}

.hero-content {
  padding: 3rem 5rem;
  flex-basis: 35%;
  flex-shrink: 0;
}

.hero-content--tagline {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.hero-content--title {
  margin-top: 0;
  font-size: 4.4rem;
  word-spacing: 3px;

  /* padding-right: 5rem; */
}

.hero-image-box {
  /* flex-basis: 50%; */
  justify-self: flex-end;
}
.hero-image {
  width: 100%;
}

.hero-input {
  display: flex;
  margin-bottom: 3rem;
}

.hero-input--text {
  color: #555;
  padding: 0.75rem 2rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
}

.hero-content--paragraph {
  font-size: 1.6rem;
  font-weight: 600;
  color: #555;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5;
}

/*******************************************/
/***********    FEATURES    ****************/
/*******************************************/

.section-features {
  background-color: #f5f8fc;
  padding: 5rem;
}

.features {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.feature-list {
  flex: 0 1 17.5%;
}

.feature-logo {
  width: 4.4rem;
  height: 4.4rem;
  margin-bottom: 1.6rem;
}

.feature-title {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #555;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  margin-bottom: 1.6rem;
}

.feature-link:link,
.feature-link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
}

.section-end {
  padding: 5rem;
  width: 55%;
}

.end-title {
  font-size: 5.2rem;
  margin-bottom: 2rem;
}

.end-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #555;
  word-spacing: 2px;
  letter-spacing: 1.2px;
  margin-bottom: 1.6rem;
}

footer {
  background-color: #f5f8fc;
  margin: 0 8rem;
  height: 10vh;
}
