/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

header,
footer {
  border: 3px solid black;
  height: 200px;
  width: 100%;
}

section {
  border: 3px solid black;
  height: 200px;
  width: 100%;
}

main {
  display: flex;
}

section.bottom {
  display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
